@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&family=Metal+Mania&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* -------------------------------------------- Quiz Page --------------------------------------------- */
body{
    font-size: 20px;
    font-family:"Metal Mania", serif;
    background-color: #4d4d4d;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#container{
    background-color: white;
    height: 500px;
    width : 750px;
    box-shadow: 0 5px 15px 0;
    top: 100px;
    left: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: 50px;
}
#start{
    font-weight: bolder;
    width:100px;
    height:50px;
    border : 2px solid rgb(102, 43, 43);
    text-align: center;
    cursor: pointer;
    position: relative;
    left:300px;
    top:50px;
    color : rgb(5, 5, 5);
    margin-top: 20px;
}
#start:hover{
    border: 3px solid rgb(99, 100, 100);
    color : rgb(61, 70, 69);
}

#question{
    width:500px;
    height : 125px;
    position:relative;
    left: 3pt;
    margin-top: 20px;

}
#question p{
    margin : 0;
    padding : 15px;
    font-size: 1.25em;
}

#choices{
    width : 550px;
    position: relative;
    padding : 10px;
    margin-top: -30px;
    margin-left: 180px;
}
.choice{
    display:inline-flex;
    width : 135px;
    text-align: center;
    border : 1px solid grey;
    cursor: pointer;
    padding : 10px;
}
.choice:hover{
    border : 2px solid grey;
    background-color: #30475e;
    color:white;
}

#timer{
    position: relative;
    height : 100px;
    width : 200px;
    bottom : 0px;
    left: 30px;
    text-align: center;

}
#counter{
    font-size: 3em;
    font-family: fantasy;
}
#btimeGauge{
    width : 150px;
    height : 10px;
    background-color: lightgray;
    margin-left : 25px;
}
#timeGauge{
    height : 10px;
    background-color:#038D41;
    margin-top : -10px;
    margin-left : 25px;
}
#progress{
    width : 500px;
    position: relative;
    bottom : 0;
    right : -170px;
    padding:5px;
    text-align: right;
}
.prog{
    width : 25px;
    height : 25px;
    border: 1px solid #000;
    display: inline-block;
    margin-left : 5px;
    margin-right : 5px;
}
#scoreContainer{
    background-color: white;
    height: 500px;
    width : 750px;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0;
    display: none;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 0px;
}
#scoreContainer p{
    width : 59px;
    height :59px;
    top:230px;
    left:325px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: 50px;

}
#time p{
    position:relative;
    top: -100px;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

/* -------------------------------------------- Header --------------------------------------------- */
.header {
    background-color: #222831;
    min-height: 70px;
    min-width: 100%;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.header-logo {
    height: 60px;
    cursor: pointer;

    margin-top: 10px;
    margin-left: 20px;
    grid-column: 1/2;
}

.site-name {
    grid-column: 2/3;
    margin-top: 20px;
    text-decoration: none;
}

#site-name {
    font-family: "Metal Mania", sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 3px;
}

#site-name:hover {
    color: #C1A57B;
    transition: all 0.3s ease-in-out 0s;
}

nav li,
nav a {
    font-family: "Metal Mania", sans-serif;
    font-size: 22px;
    color: #FFFFFF;
    text-decoration: none;
    letter-spacing: 3px;
}

.active-page {
    border-bottom: 3px solid white;
}

.active-page:hover {
    border-bottom: 3px solid #C1A57B;
    transition: all 0.3s ease-in-out 0s;
}

.header-nav {
    grid-column: 11/12;

    margin-top: 15px;
    margin-right: 20px;
}

.header-nav-links-container {
    list-style: none; /* removes default bullet points */

    display: flex;
    flex-direction: row;
}

.header-nav-links-container > li {
    padding-left: 40px;
}

.header-nav-links-container > li:hover {
    color: #C1A57B;
    transition: all 0.3s ease-in-out 0s;
}

.header-nav-link:hover {
    color: #C1A57B;
    transition: all 0.3s ease-in-out 0s;
}

#feedbackButton {
    grid-column: 12/12;
}

header button {
    padding: 4px 15px;
    margin-top: 30px;
    margin-right: 20px;
    width: 160px;

    background-color: rgba(256, 256, 256, 1);
    cursor: pointer;
    font-family: "Metal Mania", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #222831;
    text-decoration: none;
    border: none;
    letter-spacing: 1px;

    transition: all 0.3s ease 0s;
}

header button:hover {
    background-color: #C1A57B;
    color: black;

    transition: all 0.3s ease 0s;
}


/* ---------------------------------------  Footer  ------------------------------------------- */
.footer {
    position: relative;
    background-color: #222831;
    min-height: 200px;
    min-width: 103%;
    bottom: -10px;
    left: -10px;
    z-index: 1;

    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-template-rows: repeat(3, auto);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.footer-logo {
    grid-row: 1/4;
    grid-column: 1/2;

    height: 150px;
    width: auto;
    margin-top: 20px;
}

.footer-site-name {
    grid-row: 1/4;
    grid-column: 2/3;

    margin-top: 50px;
    text-decoration: none;
}

#footer-site-name {
    font-family: "Metal Mania", serif;
    letter-spacing: 2px;
    font-size: 35px;
    color: #FFFFFF;
}

#footer-site-name:hover {
    color: #C1A57B;
    transition: all 0.3s ease 0s;
}

.footer-signUp-text {
    grid-row: 1/4;
    grid-column: 3/4;
    margin-top: 10px;
    margin-left: 30px;
    width: 70%;
    max-width: 450px;

    font-family: "Darker Grotesque", sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    color: #FFFFFF;
}

#newsletterEmailTextField {
    padding: 5px 8px;
    margin-top: 10px;
    width: 100%;
    background-color: transparent;
    border: 3px solid #FFFFFF;

    font-family: "Darker Grotesque", sans-serif;
    font-size: 25px;
    color: #FFFFFF;
}

#newsletterEmailTextField:focus {
    border: 3px solid #C1A57B;
    outline: none;
    color: #C1A57B;
}

#signUpBtnFooter {
    padding: 5px 8px;
    margin-top: 10px;
    margin-bottom: 40px;
    width: 106%;
    background-color: #FFFFFF;

    font-family: "Darker Grotesque", sans-serif;
    font-weight: bolder;
    font-size: 25px;
    color: #000000;
}

#signUpBtnFooter:hover {
    background-color: #C1A57B;
    transition: all 0.3s ease 0s;
}

.footer-links {
    grid-row: 1/4;
    grid-column: 4/5;
    margin-top: 20px;
}

.footer-links > a {
    font-family: "Darker Grotesque", sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.footer-links > a:hover {
    color: #C1A57B;
    transition: all 0.3s ease 0s;
}

.footer-editor {
    grid-row: 1/4;
    grid-column: 5/6;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;

    font-family: "Darker Grotesque", sans-serif;
    font-size: 25px;
    color: #FFFFFF;
    font-weight: bold;
}

.page-editor {
    text-decoration: none;
    font-family: "Darker Grotesque", sans-serif;
    font-size: 28px;
    color: #FFFFFF;
}

.page-editor:hover {
    color: #C1A57B;
    border-bottom: 2px solid #C1A57B;
    transition: all 0.3s ease 0s;
}
